body {
margin:0;
border:none 0 transparent;
padding:0;
font-family:Lato, Arial, sans-serif;
}
header, footer {
background:#222;
margin:0;
}
header, footer, #main {
padding:4px 16px;
}
header, header a, footer, footer a {
color:#fff;
}
header {
margin-bottom:16px;
}
footer {
margin-top:16px;
}

.scrollplus-container {
border:solid gray 5px;
}
#vertical {
height:200px;
}
#horizontal {
width:80vw;
}
#gallery ul {
display: inline-flex;
flex-wrap: nowrap;
align-items: center;
flex: none;
list-style-type: none;
margin: 0;
padding: 0;
white-space: nowrap;
}
#gallery ul > li {
display: inline-block;
flex: none;
}
#gallery ul > li img {
margin: 10px;
}
